/* Start from small screens and move up to bigger ones */
:root {
    --bground-color: #000000;
    --text-color: #fff5ee;
    --header-height: 69px;
    --opacity: 0.5;
}

html {
    font-size: 22px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bground-color);
    color: var(--text-color);
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 22px; */
    
    text-align: center;
    display: flex;
    justify-content: center;
}



header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid #FFF5EE;
    display: flex;
    align-items: center;
    background-color: var(--bground-color);

}

nav {
    width: 100%;
    float: right;    
}


nav ul {
    display: flex;
    justify-content: flex-end;
    border: 1px dotted aqua;
}
nav li {
    display: inline;
    text-decoration: underline;
    padding: 0 1%;
}

li a {
    color: var(--text-color);
    opacity: var(--opacity);
}

.logo {
    height: 50px;
    padding-left: 10px;  
    border: 1px dotted aqua;
    opacity: var(--opacity);
}



main, footer {
    position: relative;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#mission {
    width: 1200px;
    height: 700px;
    background-image: url(./images/mission-background.jpg);
    background-color: var(--bground-color);
    opacity: var(--opacity);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mission-text-box, #featured-tea-header {
    border: 1px dotted aqua;
    opacity: 1;    
    width: 100%;
    background-color: var(--bground-color);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.mission-text, .featured-tea-text {
    display: block;
    border: 1px dotted aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


#featured-tea {
    border: 1px dotted aqua;
    width: 1000px;
    height: 500px;
    opacity: var(--opacity);
  
}

#locations {
    border: 1px dotted aqua;
    width: 1200px;
    height: 500px;
 
}